/* styles */
* {
  margin: 0;
  padding: 0;
}
.pageStyles {
  color: "#232129";
  padding: 96;
  font-family: "-apple-system, Roboto, sans-serif, serif";
}
.navbar {
}
.main-body {
}
.headingStyles {
  text-align: center;
}

.paragraphStyles {
}

.linkStyle {
  color: "#8954A8";
  font-weight: "bold";
  font-size: 16;
  vertical-align: "5%";
}
